#tea8{
position:absolute;
top : 590px;
left:94%;
Font-face:Agency fb;
Font-size:35px;
color:black;
}



#t8{
position:absolute;
font-size:35px;
top:625px;
left:85.4%;
}

#te8{
position:absolute;
top:625px;
left:94%;
Font-face:Agency fb;
Font-size:23px;
}


#alive29{
position: absolute;
top: 630px;
width: 8px;
height: 28px;
background-color: yellow;
right: 3%;

}
#alive30{
position: absolute;
top: 630px;
width: 8px;
height: 28px;
background-color: yellow;
right: 2.3%;

}
#alive31{
position: absolute;
top: 630px;
right: 1.6%;
width: 8px;
height: 28px;
background-color: yellow;
}
#alive32{
position: absolute;
top: 630px;
right: 0.9%;
width: 8px;
height: 28px;
background-color: yellow;
}
#dead29{
position: absolute;
right: 3%;
width: 8px;
height: 28px;
top: 630px;
background-color:green;
}
#dead30{
position: absolute;
right: 2.3%;
width: 8px;
height: 28px;
top: 630px;
background-color:green;
}
#dead31{
position: absolute;
right: 1.6%;
width: 8px;
height: 28px;
top: 630px;
background-color:green;
}
#dead32{
position: absolute;
right: 0.9%;
width: 8px;
height: 28px;
top: 630px;
background-color:green;
}
