#tea7{
position:absolute;
top : 550px;
left:94%;
Font-face:Agency fb;
Font-size:35px;
color:black;
}


#t7{
position:absolute;
font-size:35px;
top:585px;
left:85.4%;
}

#te7{
position:absolute;
top:317px;
left:94%;
Font-face:Agency fb;
Font-size:23px;
}

#alive25{
position: absolute;
top: 590px;
width: 8px;
height: 28px;
background-color: yellow;
right: 3%;

}
#alive26{
position: absolute;
top: 590px;
width: 8px;
height: 28px;
background-color: yellow;
right: 2.3%;

}
#alive27{
position: absolute;
top: 590px;
right: 1.6%;
width: 8px;
height: 28px;
background-color: yellow;
}
#alive28{
position: absolute;
top: 590px;
right: 0.9%;
width: 8px;
height: 28px;
background-color: yellow;
}
#dead25{
position: absolute;
right: 3%;
width: 8px;
height: 28px;
top: 590px;
background-color:green;
}
#dead26{
position: absolute;
right: 2.3%;
width: 8px;
height: 28px;
top: 590px;
background-color:green;
}
#dead27{
position: absolute;
right: 1.6%;
width: 8px;
height: 28px;
top: 590px;
background-color:green;
}
#dead28{
position: absolute;
right: 0.9%;
width: 8px;
height: 28px;
top: 590px;
background-color:green;
}
